html {
  font-size: 8px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Karla, sans-serif;
}

body {
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
}

@font-face {
  font-family: Rawgly;
  src: url('/fonts/Rawgly.otf');
}

@font-face {
  font-family: Karla;
  src: url('/fonts/Karla-VariableFont_wght.ttf');
}